
$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;
$primary: hsl(263, 55%, 52%);
$secondary: hsl(217, 19%, 35%);
$dark: hsl(219, 29%, 14%);
$light: hsl(210, 46%, 95%);
$border-radius: 10px;

.quote{
  background-image: url('../images/bg-pattern-quotation.svg');
  background-position: 85% top;
  background-size: 25%;
  background-repeat: no-repeat;
}
.attribution { 
  font-size: 10px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@import "../node_modules/bootstrap/scss/bootstrap";
